body {
    margin: 0 10%;
    font-family: 'Montserrat', sans-serif;
}

section {
    margin: 5% 0;
}

.greeting {
    text-align: center;
    margin-top: 2em;
}

.title {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

.round {
    text-align: center;
    margin-bottom: 4rem;
    color: #cd5c5c;
}

.player__name {
    color: #cd5c5c;
}

.wins {
    color: rgb(197, 196, 196);
}

.box {
    display: flex;
}

.player {
    width: 100%;
    height: 100%;
    text-align: center;
    border: lightgray solid;
    border-radius: 20px;
    min-height: 30rem;
    transition: all 1s;
}

.player--has-won {
    border: red solid 0.5rem!important;
    transition: all 1s;
}
.player--has-lost {
    border: lightgray solid;
}

.computer {
    width: 100%;
    height: 100%;
    min-height: 30rem;
    text-align: center;
    border-radius: 20px;
    border: lightgray solid;
    transition: all 1s;
}

.computer--has-lost {
    border: lightgray solid;
}
.computer--has-won {
    border: red solid 0.5rem!important;
    transition: all 1s;
}

.ties {
    width: 100%;
    height: 100%;
    text-align: center;
}



.humanPlayer__image {
    height: 7rem;
    margin: 2rem 0;
}

.computerPlayer__image {
    height: 7rem;
    margin: 2rem 0;
}

.button {
    background-color: #cd5c5c;
    border-style: none;
    cursor: pointer;
    border-radius: 200px;
    padding: 3% 5%;
    margin: 3rem 0.5rem;
    color: #fff;
    outline: none;
    text-decoration: none;
}

.button:hover, .button:active {
    color: lightsalmon;
    border-style: none;
    font-weight: 400;
    outline: none;
    text-decoration: none;
}

.button--restart {
    background-color: #cd5c5c;
    color: #fff;
    border-style: none;
    cursor: pointer;
    padding: 3% 5%;
    margin-top: 5rem;
    border-radius: 200px;
    outline: none;
    text-decoration: none;
}
